.Sub-About{
    height: 130px;
    border: 1px solid var(--Text-Color);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 0px 0px 70px rgba(15, 20, 28, 0.70);
    background : linear-gradient(#0f141c, #0f141c) padding-box,
    linear-gradient(145deg, #e81cff, #40c9ff) border-box;
    border: 1px solid transparent
}
.Sub-About:hover{
  transform: scale(1.05);
}
.Sub-About h2{
    font-size: 1.2rem;
    max-width: 100%;
}
.Sub-About p{
    font-size: .8rem;
    max-width: 100%;
}