.header-heading{
    font-size: 5rem;
    font-weight: 600;
    color: var(--Main-Color);
    margin: 5px 0;
}
.header-para{
    font-size: 2.2rem;
    font-weight: 600;
    margin-bottom: 30px;
}
@media screen and (max-width: 1074px){
    .header-heading{
        font-size: 3.9rem;
    }
    .header-para{
        font-size: 1.7rem;
    }
}
@media screen and (max-width: 833px){
    .header-heading{
        font-size: 3.3rem;
    }
    .header-para{
        font-size: 1.3rem;
    }
}
@media screen and (max-width: 768px){
    .Header{
        grid-template-columns: repeat(1, 1fr);
    }
    .Header-1{
        text-align: center;
    }
    .header-heading{
        font-size: 4.3rem;
    }
    .header-para{
        font-size: 1.8rem;
    }

}
@media screen and (max-width: 480px){
    .header-heading{
        font-size: 4rem;
    }
    .header-para{
        font-size: 1.5rem;
    }
}