.About-1 h2 {
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
}
.about-heading {
  font-size: 3rem;
  font-weight: 600;
  margin: 10px 0;
}
.about-para {
  font-size: 1rem;
  margin: 40px 0;
  line-height: 30px;
}
.Sub-About-Container{
  width: 100%;
  margin: 70px 0;
  display: grid;
  grid-template-columns: repeat(auto-fit , minmax(150px, 25%));
  gap: 2rem;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
}
@media screen and (max-width: 992px) {
  .about-heading {
    font-size: 2.7rem;
  }
  .Sub-About-Container{
    justify-content: center;
    text-align: left;
  }
}
@media screen and (max-width: 768px) {
  .About-1 {
    text-align: center;
  }
  .about-heading {
    font-size: 3.3rem;
  }
  .about-para {
    font-size: 1rem;
  }
}
@media screen and (max-width: 480px) {
  .about-heading {
    font-size: 2.9rem;
  }
  .about-para {
    font-size: 0.9rem;
  }
}
