.Portfolio-heading h1{
  font-size: 3rem;
  color: var(--Text-Color);
  font-weight: 600;
  margin: 10px 0 20px;
}
.Portfolio-heading h2{
  font-size: 1.5rem;
  color: var(--Text-Color);
  font-weight: 300;
}
.Portfolio-heading p{
  color: var(--Text-Color);
  width: 100%;
  margin: 0 auto;
}