#Footer{
    min-height: 100vh;
    margin: 0 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.Quete{
    width: 70%;
    margin: 20px auto;
    background-color: var(--Background-Color);
    border-radius: 20px;
    text-align: center;
    color: var(--Main-Color);
    border: 1px solid var(--Text-Color);
}
.Quete h1{
    width: 70%;
    margin: 20px auto;
}
.Footer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}
@media screen and (max-width: 768px) {
    .Footer{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        min-height: 100vh;
        row-gap: 2rem;
    }
    .social-links i{
        font-size: 3rem;
    }
}
@media screen and (max-width: 480px) {
    .social-links i{
        font-size: 2.5rem;
        margin: 16px;
        transition: 1S;
    }
}