.Header-Row{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    color: var(--Text-Color);
    position: relative;
    min-height: 90vh;
    justify-content: center;
}


@media screen and (max-width: 1280px) {
    .Header-Row{
       min-height: 75vh;
    }
  }
@media screen and (max-width: 768px){
    .Header-Row{
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
    }
  }