.sub-service {
  width: 300px;
  border-radius: 30px;
  color: var(--Text-Color);
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding: 15px;
  border-radius: 15px 15px 100px 15px;
  background: linear-gradient(#0f141c, #0f141c) padding-box,
    linear-gradient(145deg, #e81cff, #40c9ff) border-box;
  border: .5px solid transparent;
}
