.sub-service {
  color: var(--Text-Color);
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding: 20px;
  border-radius: 15px 15px 100px 15px;
  background: linear-gradient(#0f141c, #0f141c) padding-box,
    linear-gradient(145deg, #e81cff, #40c9ff) border-box;
  border: .5px solid transparent;
  margin: 30px;
  transition: .3s;
   box-shadow: 17px 10px 30px rgba(0, 0, 0, 0.99);
}
.sub-service:hover{
  transform: scale(1.05);
}
