.About-Row{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    color: var(--Text-Color);
    position: relative;
    row-gap: 2rem;
}


@media screen and (max-width: 1280px) {
  }
  @media screen and (max-width: 970px){
    .About-Row{
        grid-template-columns: repeat(1, 1fr);
    }
  }
  
