.social-links{
  background-color: var(--Second-Background-Color);
  box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.99);
  border-radius: 10px;
  width: 80%;
  padding: 1%;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}
.social-links i {
  border-radius: 10px;
  transition: 0.4s;
  text-align: center;
  font-size: 150%;
  color: var(--Main-Color);
  background-color: var(--Background-Color);
  padding: 13px;

}
.social-links a {
  color: var(--Main-Color);
}
.footer-2 p {
  text-align: center;
  color: var(--Main-Color);
}
.social-links .fa-instagram:hover {
  animation: bounce_613 0.4s linear;
}

.social-links .fa-github:hover {
  animation: bounce_613 0.4s linear;
}

.social-links .fa-facebook:hover {
  animation: bounce_613 0.4s linear;
}

.social-links .fa-linkedin:hover {
  animation: bounce_613 0.4s linear;
  border-radius: 10px;
}

.social-links .fa-discord:hover {
  animation: bounce_613 0.4s linear;
  border-radius: 10px;
}

.social-links .fa-google:hover {
  animation: bounce_613 0.4s linear;
}

@keyframes bounce_613 {
  40% {
    transform: scale(1.4);
  }

  60% {
    transform: scale(0.8);
  }

  80% {
    transform: scale(1.2);
  }
}
