.Service-heading h1 {
  font-size: 4rem;
  color: var(--Main-Color);
  font-weight: 600;
  margin: 10px 0;
}
.Service-heading h2 {
  font-size: 1.6rem;
  color: var(--Main-Color);
  margin: 10px 0 20px;
}
.Service-heading p{
  color: var(--Text-Color);
  width: 100%;
  margin: 0 auto;
}
