.project {
  height: 280px;
  backdrop-filter: blur(6px);
  border-radius: 17px;
  text-align: left;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  user-select: none;
  padding: 15px;
}