#Footer{
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 0 3rem;
}
.footer-1{
    width: 90%;
    margin: 0 auto;
}
.footer-1 h3{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    color: var(--second-text-color);
}
.footer-1 form input{
    width: 80%;
    height: 30px;
    margin: 10px 10%;
    border: 1px solid var(--Main-Color);
    border-radius: 5px;
    padding: 5px 10px;
}
.footer-1 form textarea{
    padding: 5px 10px;
    border-radius: 5px;
    width: 80%;
    margin: 10px 10%;
    border: 1px solid var(--Main-Color);
}
.sendbtn{
    width: 20%;
    margin: 10px 0;
    color: var(--Background-Color);
    text-transform: uppercase;
    font-size: 1rem;
    background-color: var(--Main-Color);
}
.sendbtn:hover{
    background-color: var(--Background-Color);
    color: var(--Main-Color);
}
.footer-2{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.social-links i{
    font-size: 3rem;
    margin: 30px;
    transition: 1S;
}
.social-links a{
    color: var(--Main-Color);
}
.footer-2 i:hover{
transform: scale(1.5);
}
.footer-2 p{
    text-align: center;
    color: var(--text-color);
}
@media screen and (max-width: 768px) {
    #Footer{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        min-height: 100vh;
        row-gap: 2rem;
    }
    .social-links i{
        font-size: 3rem;
    }
}
@media screen and (max-width: 480px) {
    .social-links i{
        font-size: 2.5rem;
        margin: 16px;
        transition: 1S;
    }
}