body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  background-color: var(--Background-Color);
  text-decoration: none;
  font-family: "Outfit", sans-serif;
}
:root{
  --Background-Color:#fff;
  --Second-Background-Color:#e8e8e8;
  --Main-Color:#ff725e;
  --Text-Color:#000;
  --Second-Text-Color:#514e4e;
}
.button{
  padding: 8px 15px;
  border-radius: 5px;
  border: 1px solid var(--Main-Color);
  background-color: var(--Main-Color);
  color: var(--Background-Color);
  cursor: pointer;
  text-decoration: none;
}
button:hover{
  background-color: var(--Background-Color);
  color: var(--Main-Color);
}