.sub-service-img {
  width: 110px;
  height: 110px;
  position: relative;
  margin-top: -70px;
}
.sub-service-img img {
  width: 100%;
  height: 100%;
  border: 3px solid var(--Background-Color);
  background-color: var(--Background-Color);
}
