#Portfolio{
    height: 100%;
    min-height: 100vh;
    text-align: center;
    z-index: 1001;
}
.Portfolio-section{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 350px));
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 40px 0;
}